@page "/help"

<PageTitle>@title</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">@title</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @MarkdownContent.FaqString
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                <NavLink href="/editor">Create Post</NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private const string title = "Help";
}