@page "/license"

<PageTitle>@title</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">@title</h1>
    </div>
</div>

@MarkdownContent.LicenceString

@code {
    private const string title = "Software License";
}
