<div class ="form-group">
    After hitting "Submit", a copy of the submitted .bsat53 file will be downloaded.
    Please hang on to this file just in case something goes wrong with your submission.
</div>