<div class ="form-group">
    After hitting "Save", a .t53 file will be downloaded.  Please email this file
    to editor@bsatroop53.com (it does not currently automatically upload).
    If it is too big to email, please upload  the file to a cloud service
    (For example, OneDrive, Google Drive, or Dropbox) and email a link to that instead.
</div>