<!-- Footer -->
<div id="footer-sec">
    <div class="row">
        <div class="col-md-6">
            <p class="footertitle"><strong>App Information</strong></p>
            <ul>
                <li>
                    <a href="https://github.com/xforever1313/edit.bsatroop53.com" target="_blank" rel="noopener noreferrer nofollow">Source Code</a>
                </li>
                <li>
                    <NavLink href="/license">License</NavLink>
                </li>
                <li>
                    <NavLink href="/credits">Third Party Credits</NavLink>
                </li>
                <li>
                    <NavLink href="/privacy">Privacy Policy</NavLink>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <p class="footertitle"><strong>Software Version</strong></p>
            <ul>
                <li>
                    @VersionInfo.Version
                </li>
            </ul>
        </div>
    </div>
</div>
