
<!-- Top row -->
<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <!-- Top-left -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" @onclick="ToggleNavMenu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <h1 id="main-title" style="padding:0.5em;">Troop 53 of Castleton, NY</h1>
</nav>

<!-- Side Bar -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="@NavMenuCssClass" style="@NavMenuStyle">
        <ul class="nav" id="main-menu">
            <li>
                <NavLink href="/"><img class="image avatar" src="https://bsatroop53.com/static/img/53patch.png" width="240" height="240" /></NavLink>
            </li>
            <li>
                <NavLink href="/">Home</NavLink>
            </li>
            <li>
                <NavLink href="/editor">Post Editor</NavLink>
            </li>
            <li>
                <NavLink href="/photo-editor">Assorted Photos Editor</NavLink>
            </li>
            <li>
                <NavLink href="/help">Help</NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {

    // ---------------- Fields ----------------

    private bool collapseNavMenu = true;

    // ---------------- Properties ----------------

    private string NavMenuCssClass => collapseNavMenu ? "sidebar-collapse collapse in" : "sidebar-collapse collapse";

    private string NavMenuStyle => collapseNavMenu ? "" : "height: 0px;";

    // ---------------- Functions ----------------

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
