@page "/"

<PageTitle>BSA Troop 53 Post Creator</PageTitle>

<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">BSA Troop 53 Post Creator</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Use this editor to create posts for <a href="https://bsatroop53.com">bsatroop53.com</a>.
        </p>
        <h2>Instructions</h2>
        <ul>
            <li>Read the Contributor Guidelines.</li>
            <li>Click "Editor" on the navigation bar or the "Create Post" button below.</li>
            <li>Fill out this form.</li>
            <li>Hit "Save".</li>
            <li>A file will be generated and then downloaded.</li>
            <li>Email this file to admin@@bsatroop53.com</li>
            <li>If the file is too big, upload it to a cloud service such as Google Drive or OneDrive, and email the link to the file instead.</li>
            <li>If you are under 18, please include your parent or guardian or an adult leader on your email.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <NavLink href="/editor">Create Post</NavLink>
    </div>
</div>
