@page "/"

<PageTitle>Home</PageTitle>

<InputText @bind-Value="@postTitle">Title</InputText>

<div class="col-md-12">
    <MarkdownEditor @bind-Value="@markdownValue" />

    <hr />
</div>

@code {
    string postTitle = "";

    string markdownValue = "# Markdown Editor\nThis is a test";
    string markdownHtml = "";

    Task OnMarkdownValueChanged(string value)
    {
        return Task.CompletedTask;
    }
}

