@inherits LayoutComponentBase
    <div id="wrapper">
    <NavMenu />
    <div id="page-wrapper">
        <main>
            <article id="page-inner">
                @Body
            </article>
        </main>
    </div>
</div>
